.page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section-left {
    flex-grow:2;
    align-self: flex-start;
}

.section-right {
    display: inline-flex;
    flex-grow: 1;
}

.header-section-left {
    flex-grow: 3;
    max-width: 50%;
}

.header-section-right {
    text-align: right;
    flex-grow: 1;
    max-width: 50%;
}

.report-page-section {
    padding-bottom: 10px;
}

.report-attached-images {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.report-page-content {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}