@import '../colors';

.selected {
    background-color: darken( $backgroundColor, 5% )
}

.selection-table {
    color: $defaultTextColor!important;
    overflow-y: scroll;
}

.table-selection-row {
    display: flex;
    color: $defaultTextColor!important;
    align-content: space-between;
    justify-content: space-between;
    
    &:hover {
        background-color: lighten( $backgroundColor, 5% )
    }
}

.table-selection-header {
    display: flex;
    align-content: space-between;
}

.selection-table-body {
    min-height: 100%;
    overflow-y: scroll;
}

.table-selection-header-cell {
    color: $defaultTextColor!important;
}

.analysis-table {
    align-self: flex-start;
    color: $defaultTextColor!important;
}