.grid div.column {
    padding: 0!important;
    flex: 1!important;
}

.grid div.row {
    flex: 1!important;
    margin: 0!important;
    padding: 0!important;
    flex-wrap: nowrap!important;
}

.ui.grid {
    margin:0;
}